.root {
    width: 450px;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

.image{ 
    position: relative;
    margin: 0 -16px;
}

.header {
    border-bottom: 1px solid #eee;
    padding: 16px 24px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
}

.image img {
    width: 100%;
}

.description {
    padding: 20px 0;
}

.progress{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.content {
    overflow: auto;
    padding: 0 24px;
    flex-grow: 1;
}

.footer {
    display: flex;
    border-top: 1px solid #eee;
    justify-content: space-between;
    padding: 16px;
}