.root {
    width: 320px;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    overflow: auto;
}

.aside {
    margin-right: -8px;
}

.input {
    border: none;
    height: 36px;
    outline: none;
    padding: 0 8px;
    background-color: transparent;
    flex-grow: 1;
}

.button {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
