.root {
  position: relative;
}

.progressContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
}

.progressWrapper {
  position: relative;
  top: 50%;
  left: 50%;
  width: 44px;
  transform: translate(-50%, -50%);
}

.map {
  position: relative;
  height: 300px;
  padding-bottom: 20px;
  margin: 0 -24px;
  z-index: 1;
}

.formField {
  padding-bottom: 20px;
}

.dialogActions {
  padding: 0 24px 20px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialogActions > :not(:first-child) {
  margin-left: 8px;
}