.navLinks {
    text-align: center;
    padding: 20px 0;
    margin-top: 80px;
    border-top: 1px solid #eee;
}

.navLinks a {
    color: #362034;
    text-decoration: none;
    font-size: 15px;
    margin: 0 20px;
}