.promo {
    background-color:#E0F8FF;
    text-align: center;
    padding: 20px;
    margin: -20px -60px 0;
}

.title {
    padding-bottom: 20px;
}

.map {
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 0 -60px;
}

.howTo {
    text-align: center;
    width: 1000px;
    margin: 40px auto;
}

.howToList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.howToStep {
    color: #ffc107;
    font-size: 60px;
    font-weight: 500;
}